<ng-container *ngIf="equipo">
    <h2>Informacion de {{equipo.nombre}}</h2>
    <h2>Informacion de {{equipo.ciudad}}</h2>
    <h2>Informacion de {{equipo.director}}</h2>
    <div>
      <div>
        <label>Nombre del equipo : </label>
        <input [(ngModel)]="equipo.nombre" placeholder="Nombre del equipo"><br>
      </div>
      <br>
      <div>
        <label>Ciudad del equipo : </label>
        <input [(ngModel)]="equipo.ciudad" placeholder="Nombre de la ciudad"><br>
      </div>
      <br>
      <div>
        <label>Director del equipo : </label>
        <input [(ngModel)]="equipo.director" placeholder="Nombre del director"><br>
      </div>
    </div>
  </ng-container>
